# mTLS 인증서 경로 (앱인토스 콘솔에서 발급)
CLIENT_CERT_PATH=cert/public.crt
CLIENT_KEY_PATH=cert/private.key

# 사용자 데이터 복호화 (콘솔에서 이메일로 수신)
AAD_STRING=
DECRYPTION_KEY_BASE64=

# Toss OAuth API
AUTH_API_BASE=https://apps-in-toss-api.toss.im/api-partner/v1/apps-in-toss/user/oauth2

PORT=4000
